.calendar {
  display: flex;
  width: 1200px;
  flex-direction: column;
  font-family: 'Questrial', sans-serif;
  // text-transform: uppercase;
}

.header tr {
  display: flex;
  margin-top: 8px;
  margin-left: 84px;
  margin-bottom: 8px;
}

.header th {
  flex: 0 0 180px;
  font-size: 16px;
  color: #535354;
  text-align: center;
  border: 2px solid white;
}

.body tr {
  display: flex;
}

.hours {
  display: flex;
  flex-direction: column;
  color: #535354;
  border-right: 4px solid white;
}

.hour {
  width: 80px;
  height: 40px;
  font-size: 12px;
  text-align: end;
  margin-bottom: 4px;
  border-bottom: 2px solid tomato;
}

.hour:first-child {
  margin-top: 4px;
}

.hour:last-child {
  margin-bottom: 0px;
}

.day {
  position: relative;
  flex: 0 0 180px;
  background-color: #eeeeee;
  background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
  background-size: 46px 46px;
  border-right: 4px solid white;
}

.event {
  position: absolute;
  left: 0;
  width: 170px;
  height: 46px;
  background-color: tomato;
  box-shadow: inset 1px 1px #cc2406, inset -1px -1px #cc2406;
}